body {
  font-family: "Lucida Console", "Lucida Grande", sans-serif; 
  font-size: 3em;
  font-weight: 400;
  line-height: 2;
}

main .container {
 min-height: 100%;
 height: 100%;
 padding: 0px 0;
 margin-top: 50px;
 margin-bottom: 50px;
}

div .row {
  min-height: 100%; 
}

header {
  padding: 65px 0;
}

.navbar{
    max-width: 1200px;
    min-height:20px !important;
    margin: 0 auto;
}

.navbar-default {
    background-color: white;
    border-color: white;
}

.navbar-fixed-top {
    top: 0;
    border-width: 0px;
    padding: 10px 0;
}

.navbar-fixed-bottom {
    padding: 0px;
}

.navbar-nav > li > a {
  padding-top: 0px !important; 
  padding-bottom:0px !important;
}

.navbar-brand {
  height: 0px;
  max-height: 0px;
  padding: 0px !important;
}

.main {
  margin-top: 40px;
  margin-bottom: 170px;
  min-height: 100%;
}

main { 
  min-height: 100%;
}

footer .row {
  display: flex;
  align-items: center;
}

header h1 {
  font-weight: 700;
  margin: 0;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

header p {
  padding-left: 30px;
}

header a {
  color: black;
} 

header a:hover {
    color: #660099;
    text-decoration: none;
}

section {
 padding: 100px; 
}

section h1 {
 padding: 50px;
 text-align: center; 
}

section .row img {
  margin: 0 0 30px;
  width: 100%;
}

section a:link {
 color: #808000; 
 font-weight: 400;
}

section a:visited {
    color: grey;
    font-weight: 400;
}

section a:hover {
    color: #660099;
    font-weight: 400;
    text-decoration: none;
}

img {
 padding-top: 20px; 
}

footer a {
  color: #808000;  
}

footer a:visited {
 color: black; 
}

footer a:hover {
    color: #660099;
    text-decoration: none;
}

footer .col-sm-12 {
  padding: 20px;
  display: flex;
  justify-content: space-around;
}
